<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwentao.mapper.UserMapper">
    <resultMap id="XgUser" type="com.liwentao.entity.XgUser">
        <id column="n_id" jdbcType="INTEGER" property="nId" />
        <result column="n_uname" jdbcType="VARCHAR" property="nuName" />
        <result column="n_password" jdbcType="VARCHAR" property="nPassword" />
        <result column="n_phone" jdbcType="VARCHAR" property="nPhone" />
        <result column="n_sex" jdbcType="VARCHAR" property="nSex" />
        <result column="n_dept" jdbcType="VARCHAR" property="nDept" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime" />
        <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    </resultMap>
    <!--注册-->
        <select id="saveUser" resultType="java.lang.String">
            select * from xg_n_user;
        </select>

        <!--登录-->
        <select id="login" resultMap="XgUser">
            select * from xg_n_user where n_uname = #{nuName} and n_password = #{nPassword};
        </select>

        <select id="searchUser" parameterType="com.liwentao.entity.XgUser" resultMap="XgUser">
            select * from xg_n_user
            <where>
                <if test="nId !='' and nId != null">
                    and  n_id = #{nId}
                </if>
                <if test="nuName !='' and nuName != null">
                    and    n_uname = #{nuName}
                </if>
                <if test="nSex !='' and nSex != null">
                    and   n_sex = #{nSex}
                </if>
                <if test="nDept !='' and nDept != null">
                    and   n_dept = #{nDept}
                </if>
                <if test="nPhone !='' and nPhone != null">
                    and   n_phone = #{nPhone}
                </if>
                <if test="createBy !='' and createBy != null">
                    and  create_by = #{createBy}
                </if>
            </where>
        </select>
    <!--获取数量-->
    <select id="getNum" resultType="map">
        SELECT n_dept,count(1) num FROM xg_n_user GROUP BY n_dept
    </select>
    <!--新增用户-->
    <insert id="add" parameterType="com.liwentao.entity.XgUser">
        insert into xg_n_user(n_uname,n_password,n_phone,n_sex,n_dept,create_time,update_time,state,create_by,avatar)
        values (#{nuName},#{nPassword},#{nPhone},#{nSex},#{nDept},now(),'',1,#{createBy},#{avatar})
    </insert>

    <!--修改用户-->
    <update id="update" parameterType="com.liwentao.entity.XgUser">
        update xg_n_user
        set n_uname = #{nuName},
        n_password = #{nPassword},
        n_phone = #{nPhone},
        n_sex = #{nSex},
        n_dept = #{nDept},
        update_time = now(),
        avatar = #{avatar}
        where n_id = #{nId}
    </update>

    <!--删除用户-->
    <update id="delete">
        update xg_n_user
        set state = 0
        where n_id = #{nId}
    </update>

</mapper>
